.main_container {
    width: 20vw;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
    position: absolute;
    
    
    

    background-color: aliceblue;
    z-index: 9999;
}

#main_containerheader {
    
    height: 20px;
    background-color: rgba(110, 110, 255, 0.753);
    cursor: move;


}
#contact_number{
    z-index: 10000000;
}

#goodNumber {
    background-color: yellow;
}